body {
    margin: 0;
    padding: 0;
    height: 1200px;
    position: relative;
}

header {
    height: 60px;
    position: absolute;
    top: 0;
    background-color: rgba(3,69,134,.9);
    width: 100%;
    z-index: 9999;
}
#logo {
    display: block;
    height: 28px;
    width: 200px;
    background-image: url('../img/bv-logo-white.png');
    background-image: url('../img/bv-logo-white.svg') , none;
    background-repeat: no-repeat;
    margin-top: 12px;
}
#login-btn {
    background-color: #fff;
    border-radius: 20px;
    padding: 6px 18px;
    margin-top: 14px;
    outline: 0;
    text-decoration: none;
}
#huge {
    position: relative;
    color: #fff;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    /*background-color: grey;*/
}
#huge video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    z-index: 1;
    z-index: -9999;
}
#huge h1 {
    font-size: 42px;
}
#main-search-wrapper {
    position:absolute;
    z-index:999;
    top: 12.5%;
    /*margin-top: 40px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width:1770px;
}

#main-search {
    display: block;
    position:relative;
    z-index: 9999999;
    background-color: rgba(255,255,255,.95);
    /*background: red;*/
    height: 105px;
    padding: 20px;
    border-radius: 4px;
    margin-top: 40px;
}
#main-search label {
    color: #222;
    font-weight: 400;
}
#main-search button {
    margin-top: 25px;
}
#main-search-wrapper h1,
.sub-header {
    color: #fff;
    /*text-shadow: 0px 2px 6px rgba(0,0,0,.8);*/
}
#main-search-wrapper h1 {
    font-size:72px;
    line-height: 72px;
}
.test-wrapper {
    margin-top: 40px;
}
.test-quote {
    font-size: 24px;
    line-height: 28px;
}
.test-quote-name,
.sub-header {
    font-size:24px;
    line-height: 28px;
}
.test-quote {
    color:;
}

@media (min-width:1200px) {

}

@media (max-width:992px) {

}

@media (max-width:768px) {
    #main-search-wrapper {
        position:static;
        z-index:999;
        top: 15%;
        margin-top: 0px;
        padding-top: 80px;
    }
}

@media (max-width:360px) {

}